<div class="container" id="one-book">
    <div class="row p-3" id="bg-one-book">
        <div class="col-md-7 col-sm-12 m-3" style="backgroundColor: #eef2f8">
            <div class="card" style="padding: 0 !important color: inherit">
                <div class="card-body" style="padding: 0 !important color: inherit">

                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active relative">
                                <img src={{image}} class="d-block w-100 h-25 img-card absolute-img" alt="cover">
                                <h4 class="card-text absolute-top" id="review">{{titleFound.title}}</h4>
                                <h5 class="absolute-high">{{titleFound.author_name}}</h5>
                            </div>
                            <div class="carousel-item relative">
                                <div class="d-block w-100 img-responsive bg-image text-bold text-justify" id="papyrus">
                                    <p id="first-sentence" class="visually-hidden">{{titleFound.first_sentence}}</p>
                                    <div class="absolute-high">
                                        {{titleFound.number_of_pages_median}} PAGES</div>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev btn btn-body carouse" type="button"
                            data-bs-target="#carouselExampleControls" data-bs-slide="prev" id="prev-btn">
                            <span class="carousel-control-prev-icon violet" aria-hidden="true"></span>
                            <span class="visually-hidden">INFOS</span>
                        </button>
                        <button class="carousel-control-next btn btn-body carouse" type="button"
                            data-bs-target="#carouselExampleControls" data-bs-slide="next" id="next-btn">
                            <span class="carousel-control-next-icon violet" aria-hidden="true" id="next-icon"></span>
                            <span class="visually-hidden">BROWSE</span>
                        </button>
                    </div>


                    {{#if isLoggedIn}}
                    <div>
                        <div class="row p-3">
                            {{#unless alreadyWished}}
                            <div class="col-md-4 col-sm-8">
                                <i class="fas fa-heart actions"></i>
                                <a href="/oneBook/wishlist/{{titleFound.key}}"> Add to
                                    wishlist</a>
                            </div>
                            {{/unless}}
                            {{#unless alreadyRead}}
                            <div class="col-md-4 col-sm-8">
                                <i class="fas fa-space-shuttle actions"></i><a
                                    href="/oneBook/redlist/{{titleFound.key}}"> Add to
                                    books already
                                    red</a>
                            </div>
                            {{/unless}}
                            {{#unless alreadyRated}}
                            <div class="col-md-4 col-sm-8">
                                <form method="POST" action="/oneBook/rate/{{titleFound.key}}">
                                    <input type="number" min="1" max="5" placeholder="1" name="rating"
                                        class="form-control">
                                    <button class="btn">Rate this book</button>
                                </form>
                            </div>
                            {{/unless}}
                        </div>
                    </div>

                    {{/if}}


                </div>
            </div>
            <div class="row">
                {{#if isLoggedIn}}
                 <div class="col-12 p-3 my-4">
                     {{#if otherUsers}}
                    <h4 class="bg-light py-4 px-2 rounded">They added this book to their wishlist</h4>
                    {{/if}}
                    <div class="row d-flex flex-row flex-wrap my-4">
                        {{#each otherUsers}}
                        <div class="card col-md-3 col-sm-6 mx-2">
                            <a href="/profile/{{this._id}}">
                                <div class="card-body"
                                    style="background-image: url({{this.image}}); background-size: cover">
                                    <h5 class="card-title text-danger text-white">{{this.userName}}</h5>
                                </div>
                            </a>
                        </div>
                        {{/each}}
                    </div>
                </div>
                {{/if}}
            </div>
        </div>

        <div class="col-md-4 col-sm-12 m-3">
            <div class="card m-3" id="comment-card">
                <div class="card-body" id="cmt-body">
                    <div class="row mb-4">
                        {{#if reviews}}
                        <h4 id="reviews" class="text-center mb-4">REVIEWS</h4>
                        {{/if}}
                        {{#each reviews}}
                        <div class="card m-0 rounded">
                            <div class="card-body rounded">
                                <div class="row">
                                    <div class="col-md-8 col-sm-12">
                                        <h6 class="card-text font-italic" id="review">"{{this.review}}"</h6>
                                        <p class="card-text">By {{this.user.userName}}</p>
                                        <p class="card-text">{{this.nbLikes}} LIKE</p>
                                    </div>
                                    <div class="col-md-4 col-sm-12">

                                        {{!-- <p>{{this.user._id}}</p>
                                        <p>{{@root.currentGuy}}< --}}
                                        {{#if @root.isLoggedIn}}


                                        {{#compare this.user._id @root.currentGuy operator="!="}}


                                        <div class="row">
                                            <div class="col-md-6 col-sm-12">
                                                <form action="/oneBook/like/{{@root.keyUrl}}" method="POST">
                                                    <input class="hidden" type="text" name="reviewId"
                                                        value={{this._id}} />
                                                    <button class="btn btn-danger pr-0" id="like">
                                                        <i class="far fa-heart"></i>
                                                    </button>
                                                </form>
                                            </div>

                                            {{!-- <div class="col-md-6 col-sm-12">
                                                <form action="/oneBook/dislike/{{@root.keyUrl}}" method="POST">
                                                    <input class="hidden" type="text" name="reviewId"
                                                        value={{this._id}} />
                                                    <button class="btn btn-danger pr-0" id="dislike">
                                                        <i class="far fa-face-angry"></i>
                                                    </button>
                                                </form>
                                            </div> --}}

                                        </div>

                                        {{/compare}}
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                        </div>

                        {{#compare @root.user this.user.userName}}


                        <div class="card m-2">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-6">
                                        <form action="/oneBook/edit/{{this._id}}" method="POST">
                                            <label for="review"></label>
                                            <input type="text" name="review" required class="form-control" />
                                            <input class="hidden" type="text" name="key" value={{this.key}}>
                                            <button class="btn">
                                                <i class="fas fa-edit">EDIT</i>
                                            </button>
                                        </form>
                                    </div>
                                    <div class="col-md-6 col-sm-12 mt-5 pt-3">
                                        <form action="/oneBook/delete/{{this._id}}" method="POST">
                                            <input class="hidden" type="text" name="key" value={{this.key}}>
                                            <button class="btn"><i class="fas fa-trash-alt">DELETE</i></p>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {{/compare}}
                        {{/each}}

                        {{!-- <p>{{reviews.user.username}}</p> --}}
                    </div>

                    {{#if isLoggedIn}}

                    <div class="row my-4">

                        <button class="btn mb-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
                            aria-expanded="false" aria-controls="collapseExample" id="reviewBtn">
                            <h5>WRITE A REVIEW</h5>
                        </button>

                        <div class="collapse rounded" id="collapseExample">
                            <div class="card card-body rounded" id="form">
                                <div class="text-center pt-4">
                                    <form action="/oneBook/works/{{titleFound.key}}" method="POST">
                                        <hr>
                                        <label for="title" class="form-label">Title</label>
                                        <input type="title" name="bookTitle" class="form-control"
                                            id="exampleFormControlInput1" value="{{titleFound.title}}" />
                                        <hr>
                                        <label for="author" class="form-label">Author</label>
                                        <input type="title" name="authorBook" class="form-control"
                                            id="exampleFormControlInput1" value="{{titleFound.author_name}}" />
                                        <label for="exampleFormControlTextarea1" class="form-label">Review</label>
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                            name="review">Write your description here</textarea>
                                        <div class="mb-3 justify-content-center"></div>
                                        <button class="btn btn-outline-success ">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>