<div class="container">
    <div class="row">
        <div class="col-12" id="one-book">
            <h2 class="row">{{titleFound.title}}</h2>
            <h4 class="row">{{titleFound.author_name}}</h4>
            <h5 class="row">{{titleFound.first_sentence}}</h5>
            <div class="row">
                <div class="col-9">{{titleFound.subject}}</div>
                <div class="col-3">{{titleFound.number_of_pages_median}}</div>
            </div>
        </div>
    </div>
    <button class="btn" id="add-wishlist">Add to wishlist</button>
    <button class="btn" id"add-red">Add to books already red</button>
    <button class="btn" id="add-review">Leave a review</button>
</div>


