<div class="container" id="one-book">
    <div class="row">
        <div class="col-7">
            <img src='{{image}}'/>
            <h1 class="row" id="title">{{titleFound.title}} </h1>
            <h4 class="row" id="author">{{titleFound.author_name}}</h4>
            <h5 class="row" id="first-sentence">{{titleFound.first_sentence}}</h5>
            <div class="row">
                <div class="col-9" id="subject">{{titleFound.subject}}</div>
                <div class="col-3" id="number-of-pages">{{titleFound.number_of_pages_median}}</div>
            </div>
            <hr>
            <div class="row">
                <div class="col-6">
                    <i class="fas fa-heart"></i>
                    <a href="/oneBook/wishlist/{{titleFound.key}}"> <button id="add-wishlist">Add to
                            wishlist</button></a>
                </div>
                <div class="col-6">
                    <a href="/oneBook/redlist/{{titleFound.key}}"> <button id="add-red">🚀 Add to books already
                            red</button></a>
                </div>
            </div>

        </div>



        <div class="col-4">
            <h3>REVIEWS</h3>
          {{#each reviews}}
            <div class="card">
                <div class="card-body">
                    <p class="card-text" id="review">{{this.review}}</p>
                   <!--  <p>{{this.user.username}}</p>
                    <p>{{@root.user}}</p>  -->
                    <div class="row">
                <form action="/oneBook/like/{{this._id}}" method="POST">
                <button class="btn"><p>👍</p></button>
                </form>
                </div>
<!--                  {{#compare @root.user this.user.username}}
 -->                <div class="row">
                    <div class="col-6">
                        <form action="/oneBook/edit/{{this._id}}" method="POST">
                        <label for="review">Updated review</label>
                        <input type="text" name="review" />
                <button class="btn"><p>EDIT ✏️</p></button>
                </form>
                </div>
                <div class="col-6">
                    <form action="/oneBook/delete/{{this._id}}" method="POST">
                <button class="btn"><p>DELETE 💣</p></button>
                </form>
                </div>
                </div>
<!--                 {{/compare}}
 -->
            </div>
            {{/each}}

     <!--     <p>{{booksRead.otherKey}}</p>
            <p>{{titleFound.key}}</p>       -->   

<!--             {{#compare booksRead.otherKey titleFound.key}}
 -->            <div>
                <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
                    aria-expanded="false" aria-controls="collapseExample" id="reviewBtn">
                    WRITE A REVIEW
                </button>
            
                <div class="collapse" id="collapseExample">
                    <div class="card card-body" id="form">
                        <div class="text-center pt-4">
                            <form action="/oneBook/{{titleFound.key}}" method="POST">
                                {{!-- <label for='username'>Username</label>
                                <input type="text"name="{{req.session.currentUser.username}}" required> --}}
                                <label for="review-title">TITLE</label>
                                <input type="text" value="{{titleFound.title}}" name="bookTitle" />
                                <hr>
                                <label for="review-title">AUTHOR</label>
                                <input type="text" value="{{titleFound.author_name}}" name="authorBook" />
                                <hr>
                                <hr>
                                <label for="review-title">YOUR RATING ON 5</label>
                                <input type="text" value="5" min="1" max="5" name="rating" />
                                <hr>
                                <label for="description-text">REVIEW</label>
                                <textarea id="description-text" name="review" cols="30"
                                    rows="10">Write your description here</textarea>
                                    <hr>
                                <button>SUBMIT REVIEW</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
<!--             {{/compare}}
 -->            </div>
        </div>
    </div>


<hr>
<!-- 

{{!-- CHAT INSTANTANE --}}

<h1> CHAT</h1>
<br>
<hr>
<form action="">

{{!-- {{>chat}} --}}
 
</form>


<div>  

</div> -->

</div>