<div class="row mx-0 p-0 g-0">
  <div class="col">
    <div id="bookwarm">
      <img class="img-fluid" alt="bookwarm" src="../images/follow us now for more.png" />
      <div class="row" id="searchbar">
        <div class="col-md-3 col-sm-12">
          <h5 class="text-uppercase mb-4" id="search">Search for a book ...</h5>
        </div>
        <div class="col-md-9 col-sm-12">
          <form method="POST" action="/">
            <div class="row">
              <label for="name" class="visually-hidden">FIELD</label>
              <div class="col-md-6 col-sm-12 mb-3">
                <input type="text" name="name" placeholder="enter title" class="form-control" required />
              </div>
              <div class="col-md-2 col-sm-6 mb-4">
                <input type="number" name="number" max="30" min="1" value="3" class="form-control" />
              </div>
              <button class="btn col-md-2 col-sm-6 mb-4" id="search-btn">SEARCH</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row mx-0 px-0 g-0" id="background-index">

  <div class="col-md-4 col-sm-12 p-5" id="browse">
    <div class="row mx-0 px-0">
      <h5 class="col-12 text-uppercase mb-4 mt-3" id="categories">... Or browse by categories</h5>
    </div>
    <div class="d-flex justify-content-around flex-wrap mb-1">
      {{#unless uniquifiedCat}}
      <h6>You or other users must begin to add books to their wishlist to access categories suggestion !</h6>
      {{/unless}}
      {{#each uniquifiedCat}}
      <form class="mb-2" method="POST" action="/categories">
        <input class="visually-hidden" name="cat" value="{{this}}" />
        <button class="btn btn-outline-warning p-3 cat text-uppercase">{{this}}</button>
      </form>
      {{/each}}
    </div>
  </div>


  <div class="col-md-8 col-sm-12 p-3" id="booksdisplayed">

    <div class="row mx-0 px-0 mt-3">
      {{#compare mode "categories" operator="=="}}
      <div>
        <h5 class="text-right text-uppercase"><button class="btn btn-outline-success text-body"><a href="/">Previous
              page</a></button></h5>
      </div>
      {{#unless booksArr}}
      <div>
        <h5 class="text-center text-warning">No books matched your search !</h5>
      </div>
      {{/unless}}
      {{/compare}}
      {{#if booksArr}}
      <div>
        <h5 class="text-center text-uppercase" id="users-suggest">All {{cat}} books</h5>
      </div>
      {{/if}}
      <div class="col-12 d-flex flex-row flex-wrap justify-content-around g-3">
        {{#each booksArr}}
        <div class="card m-4 lagoon" id="author-cat-card" style="width: 40%;">
          <img src="{{this.image}}" alt="{{this.image}}" class="visually-hidden" value="{{this.image}}" />
          <div class="card-body">
            <h5 class="card-title title text-uppercase">{{this.title}}</h5>
            <p class="card-text" id="author-card-name">{{this.author_name}}</p>
            <div class="row">
              <div class="col-md-8">
                <a href="/oneBook/{{this.key}}" class="btn btn-warning opacify" id="fatLinks"> ...</a>
              </div>
              {{!-- <div class="col-md-4 col-sm-8">
                <a href="/oneBook/wishlist/{{slicedKey}}" class="btn btn-danger opacify" id="fatLinks"><i
                    class="fas fa-heart text-white"></i>Don't click on this it doesn't work yet, go to yellow button instead</a>
              </div> --}}
            </div>
          </div>
        </div>
        {{/each}}
        </div>
        </div>

        <div class="row mx-0 px-0 mb-3">
        {{#if personalBooks}}
        <div>
          <h5 class="text-center text-uppercase" id="users-suggest" style="width: 100%">Our users' suggestions</h5>
        </div>
        {{/if}}
        <div class="col-12 d-flex flex-row flex-wrap justify-content-around g-3">
          {{#each personalBooks}}
          <div class="card m-4 lagoon" id="user-personal-card" style="width: 40%;">
            <img src="{{this.picture}}" class=" visually-hidden" alt="{{this.picture}}">
            <div class="card-body">
              <h5 class="card-title title text-uppercase">{{this.title}}</h5>
              <p class="card-text" id="author-card-name">{{this.author_name}}</p>
              <div class="row">
                <div class="col-md-8">
                  <a href="/oneBook/{{this.key}}" class="btn btn-warning opacify" id="fatLinks"> ...</a>
                </div>
              </div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>



      <div class="row mx-0 px-0 mt-3">
        {{#if authorsSearched}}
        <div>
          <h5 class="text-center text-uppercase" id="yoursearch">You may be interested in</h5>
        </div>
        {{/if}}
        <div class="d-flex justify-content-around flex-wrap g-3">
          {{#each authorsSearched}}
          <div class="card m-4 lagoon" id="author-card" style="width: 40%;">
            <div class="card-body">
              <h5 class="card-title title text-uppercase">{{this.title}}</h5>
              <p class="card-text" id="author-card-name">{{this.author_name}}</p>
              <div class="row">
                <div class="col-md-8">
                  <a href="/oneBook/works/{{this.key}}" class="btn btn-warning opacify" id="fatLinks"> ...</a>
                </div>
                {{!-- <div class="col-md-4 col-sm-8">
                  <a href="/oneBook/wishlist/{{this.slicedKey}}" class="btn btn-danger opacify" id="fatLinks"><i
                      class="fas fa-heart text-white"></i></a>
                </div> --}}
              </div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>


      <div class="row">
        <div>
          <h5 class="text-center" id="users-suggest">BEST BOOKS ACCORDING TO OUR READERS</h5>
        </div>
        <div class="col-12 d-flex flex-row flex-wrap justify-content-around g-3">
          {{#each bestrated}}
          <div class="card m-4 lagoon" id="author-best-card" style="width: 40%;">
            <img src="{{this.image}}" alt="{{this.image}}" class="visually-hidden" value="{{this.image}}" />
            <div class="card-body container">
              <h5 class="card-title title text-uppercase mb-5">{{this.title}}</h5>
              <p class="card-text author mt-3">{{this.author_name}}</p>
              <p class="card-text rating">{{this.avgRate}} / 5</p>
              <div class="row">
                <div class="col-md-8">
                  <a href="/oneBook/{{this.key}}" class="btn btn-warning opacify" id="fatLinks"> ...</a>
                </div>
                {{!-- <div class="col-md-4 col-sm-8">
                  <a href="/oneBook/wishlist/{{this.slicedKey}}" class="btn btn-danger opacify" id="fatLinks"><i
                      class="fas fa-heart text-white"></i></a>
                </div> --}}
              </div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>


    </div>
  </div>





  <div class="row mx-0 px-0 g-0">
    <div class="col-md">
      <div style="position: relative">
        <img class="img-fluid" alt="bookwarm" src="../images/Concours (1483 × 550 px).png" />
        <a href="/contest">
          <div id="link-contest"></div>
        </a>
      </div>
    </div>