<div class="row p-3 m-1">
  <div class="col-8">
    <hr>
    <hr><hr><hr>
    <h3 class="text-uppercase">NO ONE CAN FOLLOW YOU HERE</h3>
  </div>
  <div class="col-4">
    <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false"
      aria-controls="collapseExample" id="reviewBtn">
      <h5>ADD A PROFILE PICTURE</h5>
    </button>

    <div class="collapse" id="collapseExample">
      <div class="card card-body" id="form">
        <div class="text-center pt-4">
          <form action="/uploadimage" method="post" enctype="multipart/form-data">
            <input type='file' name='image' />
            <button type="submit">Upload your image</button>
          </form>
          </form>
        </div>
      </div>
    </div>

    <hr>

    <div class="row p-3 m-1 flex-wrap">
      <div class="card" style="width: 18rem;">
        <img src={{newPic.image}} class="card-img-top" alt="{{newPic.image}}">
      </div>
    </div>

  </div>
  <div class="col-8 flex-row">
    <h5 class="text-uppercase">Last books you read. Don't hesitate to write a review!</h5>
    <div class="row flex-wrap">
      {{#each red}}
      <div class="card" id="author-card" style="width: 18rem;">
        {{#if this.image}}
        <img src="{{this.image}}" class="card-img-top" alt="...">
        {{/if}}
        <div class="card-body">
          <h6 class="card-title">{{this.title}}</h6>
          <p class="card-text" id="author-card-name">{{this.author_name}}</p>
        </div>
        <div><a href="/oneBook/{{this.key}}" class="fatlinks">...</a></div>
      </div>
      {{/each}}
    </div>
  </div>

  <div class="col-4">
    <h5 class="text-uppercase">Your reviews</h5>
    {{#each reviews}}
    <div class="card" id="author-card" style="width: 18rem;">
      {{!-- <img src="..." class="card-img-top" alt="..."> --}}
      <div class="card-body">
        <h6 class="card-title">{{this.bookTitle}}</h6>
        <p class="card-text" id="author-card-name">{{this.review}}</p>
      </div>


      {{!-- TESTER ET ESSAYER AVEC REVIEWED KEY SI CA S'AFFICHE QUAND MEME
      --}}

      {{!-- {{#compare booksReviewed.reviews this.user.username}}
      <div class="row">
        <div id="delete" class="col-6">
          <form method="POST" action="personalspace/delete/{{this._id}}">
            <hr>
            <button>DELETE</button>
          </form>
        </div>
        <div id="edit" class="col-6">
          <form method="POST" action="personalspace/edit/{{this._id}}">
            <input type="text" name="review">
            <button>EDIT</button>
          </form>
        </div>
      </div>
      {{/compare}} --}}
    </div>
    {{/each}}

  </div>


  <div class="row p-3 m-1">
    <div class="col-8"><a href="/personalbooks" class="wishcol">SEE THE BOOKS YOU ADDED TO OUR COLLECTION</a></div>
    <div class="col-4"><a href="/oneBook/wishlist" class="wishcol">SEE WISHLIST</a></div>
  </div>


</div>