{{!-- <div class="row p-3 m-1 flex-wrap"> --}}

<div class="row">
  <div class="col-8">
    <div class="row flex-wrap">
      {{#unless createdBooks}}
       <div class="col-12" id="book-tea">
       </div>
      {{/unless}}
     {{#each createdBooks}}
    <div class="card" style="width: 18rem;">
        <img src={{this.picture}} class="card-img-top" alt={{this.title}}>
        <div class="card-body">
            <p class="card-text" id="review">{{this.title}}</p>
            <p>{{this.author_name}}</p>
            <p>{{this.first_sentence}}</p>
        </div>
    </div>
    {{/each}}
    </div>
  </div>
  <div class="col-4 p-4">
<h2>ADD A BOOK</h2>
<hr>
<form method="POST" action="/createdBooks" enctype="multipart/form-data" class="row my-2">
  <label for="title" class="visually-hidden">TITLE</label>
  <br>
  <input type="text" name="title" placeholder="Book's title" required class="form-control" />
  <hr>
  <label for="title" class="visually-hidden">AUTHOR NAME</label>
  <br>
  <input type="text" name="author_name" placeholder="Author's name" required class="form-control" />
  <hr>
  <label for="picture" class="label"> <i class="icon fas fa-cloud-upload-alt fa-1x">choose a picture </i> </label>
  <br>
  <input class="is-hidden" type="file" id="picture" name="picture" , required class="form-control" />
  <hr>
  <label for="summary" class="label visually-hidden">Summary</label>
  <br>
  <textarea type="text" class="input" id="description" name="description" placeholder="Write your book summary here"
   class="form-control"></textarea>
  <br>
  <button class="btn btn-success mt-5">ADD</button>
</form>
</div>




