<h1>YOUR PERSONAL SPACE</h1>
<hr>
<div class="row">
  <form action="/uploadimage" method="post" enctype="multipart/form-data">
  <input type='file' name='image' />
  <button type="submit">Upload your image</button>
</form>
</div>
<hr>

<img src="{{newPic.image}}" alt="{{newPic.image}}">

<div class="row">
  <div class="col-3">
    <h3 class="text-uppercase">Your wishlist</h3>
    {{#each wishlist}}
    <div class="card" id="author-card" style="width: 18rem;">
      {{#if this.image}}
      <img src="{{this.image}}" class="card-img-top" alt="...">
      {{/if}}
      <div class="card-body">
        <h5 class="card-title">{{this.title}}</h5>
        <p class="card-text" id="author-card-name">{{this.author_name}}</p>
      </div>
      <form method="POST" action="personalspace/{{this._id}}">
        <button>DELETE FROM WISHLIST</button>
      </form>
      <div class="mr-5"><a href="/oneBook/{{this.key}}">📖</a></div>
    </div>
    {{/each}}
  </div>
  <div class="col-3">
    <h3 class="text-uppercase">Last books you read. Don't hesitate to write a review!</h3>
    {{#each red}}
    <div class="card" id="author-card" style="width: 18rem;">
      {{#if this.image}}
      <img src="{{this.image}}" class="card-img-top" alt="...">
      {{/if}}
      <div class="card-body">
        <h5 class="card-title">{{this.title}}</h5>
        <p class="card-text" id="author-card-name">{{this.author_name}}</p>
      </div>
      <div><a href="/oneBook/{{this.key}}">📖</a></div>
    </div>
    {{/each}}
  </div>
  <div class="col-3">
    <h3 class="text-uppercase">Your reviews</h3>
    {{#each reviews}}
    <div class="card" id="author-card" style="width: 18rem;">
      {{!-- <img src="..." class="card-img-top" alt="..."> --}}
      <div class="card-body">
        <h5 class="card-title">{{this.bookTitle}}</h5>
        <p class="card-text" id="author-card-name">{{this.review}}</p>
      </div>
      

{{!-- TESTER ET ESSAYER AVEC REVIEWED KEY SI CA S'AFFICHE QUAND MEME 
 --}}
 
 {{#compare booksReviewed.reviews this.user.username}}
<div class="row"> 
        <div id="delete" class="col-6">
          <form method="POST" action="personalspace/delete/{{this._id}}">
          <hr>
            <button>DELETE</button>
          </form>
        </div>
        <div id="edit" class="col-6">
          <form method="POST" action="personalspace/edit/{{this._id}}">
          <input type="text" name="review">
            <button>EDIT</button>
          </form>
        </div>
      </div>
{{/compare}}

    </div>
    <div><a href="/oneBook/{{this.key}}">📖</a></div>
    {{/each}}
  </div>
  <div class="col-3">
    <h3>YOUR ADDED BOOKS</h3>
    {{#each createdBooks}}
    <div class="card" id="author-card" style="width: 18rem;">
      <img src="{{this.picture}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{this.title}}</h5>
        <p class="card-text" id="author-card-name">{{this.author_name}}</p>
        {{!-- <div><a href="/createdBooks">📖</a></div> --}}
      </div>
    </div>
    {{/each}}
</div>