<div class="row p-3 m-1">
  <div class "col-4">
  <h3 class="text-uppercase">NO ONE CAN FOLLOW YOU HERE</h3>
  </div>
    <div class="col-2">
<h5>ADD A PROFILE PICTURE</h5>
</div>
<hr>
<div class="col-2">
<div class="row">
  <form action="/uploadimage" method="post" enctype="multipart/form-data">
  <input type='file' name='image' />
  <button type="submit">Upload your image</button>
</form>
</div>
</div>
<div class="col-2">
<img src={{newPic.image}}/>
</div>
</div>




<div class="row">
  {{!-- <div class="col-3">
    <h3 class="text-uppercase">Your wishlist</h3>
    {{#each wishlist}}
    <div class="card" id="author-card" style="width: 18rem;">
      {{#if this.image}}
      <img src="{{this.image}}" class="card-img-top" alt="...">
      {{/if}}
      <div class="card-body">
        <h5 class="card-title">{{this.title}}</h5>
        <p class="card-text" id="author-card-name">{{this.author_name}}</p>
      </div>
      <div class="mr-5"><a href="/oneBook/{{this.key}}">📖</a></div>
    </div>
    {{/each}}
  </div> --}}
  <div class="col-8">
    <div class="row p-3 m-1">
      <h3 class="text-uppercase">Last books you read. Don't hesitate to write a review!</h3>
      {{#each red}}
      <div class="card" id="author-card" style="width: 18rem;">
        {{#if this.image}}
        <img src="{{this.image}}" class="card-img-top" alt="...">
        {{/if}}
        <div class="card-body">
          <h5 class="card-title">{{this.title}}</h5>
          <p class="card-text" id="author-card-name">{{this.author_name}}</p>
        </div>
        <div><a href="/oneBook/{{this.key}}">📖</a></div>
      </div>
      {{/each}}
    </div>
  </div>

  <div class="col-4">
    <div class="row p-3 m-1">
      <h3 class="text-uppercase">The reviews you wrote!</h3>
      {{#each reviews}}
      <div class="card" id="author-card" style="width: 18rem;">
        {{!-- <img src="..." class="card-img-top" alt="..."> --}}
        <div class="card-body">
          <h5 class="card-title">{{this.bookTitle}}</h5>
          <p class="card-text" id="author-card-name">{{this.review}}</p>
        </div>
      </div>
      <div><a href="/oneBook/{{this.key}}">📖</a></div>
      {{/each}}
    </div>

  </div>

  </div>

  <div class="row p-3 m-1">
    <div class="col-8" id="fatlinks"><a href="/personalbooks">SEE THE BOOKS YOU ADDED TO OUR COLLECTION</a></div>
    <div class="col-4" id="fatlinks"><a href="/oneBook/wishlist">SEE WISHLIST</a></div>
  </div>

  {{!-- <div class="row">
    <h3>YOUR ADDED BOOKS</h3>
    {{#each createdBooks}}
    <div class="card" id="author-card" style="width: 18rem;">
      <img src="{{this.picture}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{this.title}}</h5>
        <p class="card-text" id="author-card-name">{{this.author_name}}</p>
        {{!-- <div><a href="/createdBooks">📖</a></div> --}}
      </div>
    </div>
    {{!-- {{/each}} --}}
  {{!-- </div> --}} --}}

