
{{#each clickedBooks}}

<div class="container" id="one-book">
    <div class="row">
        <div class="col-7">
            <h1 class="row" id="title">{{this.title}}</h1>
            <h4 class="row" id="author">{{this.author_name}}</h4>
            <h5 class="row" id="first-sentence">{{this.first_sentence}}</h5>
            <div class="row">
                {{!-- <div class="col-9" id="subject">{{this.subject}}</div> --}}
                <div class="col-3" id="number-of-pages">{{this.number_of_pages_median}}</div>
            </div>
            <hr>
        </div>
    </div>
</div>

{{/each}}

{{#each clickedBooks2}}

<div class="container" id="one-book">
    <div class="row">
        <div class="col-7">
            <h1 class="row" id="title">{{this.title}}</h1>
            <h4 class="row" id="author">{{this.author_name}}</h4>
            <h5 class="row" id="first-sentence">{{this.first_sentence}}</h5>
            <div class="row">
                {{!-- <div class="col-9" id="subject">{{this.subject}}</div> --}}
                <div class="col-3" id="number-of-pages">{{this.number_of_pages_median}}</div>
            </div>
            <hr>
        </div>
        <div class="col-5">
            <h2>Reviews</h2>
        </div>
    </div>
</div>

{{/each}}

