<div class="row flex-wrap">
    {{#each addedBooks}}
    <div class="card" style="width: 18rem;">
        <img src={{this.image}} class="card-img-top" alt={{this.title}}>
        <div class="card-body">
            <p class="card-text" id="review">{{this.title}}</p>
            <p>{{this.author_name}}</p>
            <p>{{this.first_sentence}}</p>
        </div>
        <div class="card-text">
            <form method="POST" action="/oneBook/wishlist/{{this._id}}/delete">
                <button class="btn">DELETE FROM WISHLIST</button>
            </form>
        </div>
    </div>
    {{/each}}
</div>