<div class="row mx-1 flex-wrap justify-content-around" id="book-forest">
    {{#each addedBooks}}
    <div class="card rounded m-3 col-md-3 col-sm-5 col-xs-12" id="wishlist-card">
        <img src={{this.image}} class="card-img-top rounded" alt={{this.title}} style="height: 50vh;">
        <div class="card-body">
            <a href="/oneBook/{{this.key}}"><p class="card-text rounded" id="wishlist-title">{{this.title}}</p></a>
            <p class="card-text rounded" id="wishlist-name">{{this.author_name}}</p>
        <div class="card-text">
            <form method="POST" action="/oneBook/wishlist/{{this._id}}/delete">
                <button class="btn">DELETE FROM WISHLIST</button>
            </form>
        </div>
        </div>
    </div>
    {{/each}}